<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>

    <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
</head>

<body>
    <div class="container">

        <div class="d-flex flex-row-reverse mb-3 mt-3">

            <div class="col-sm-4 fs-2">Waiter Availability</div>
        </div>


        <div class="d-flex flex-column align-items-center my-custom-row">

            <div class="entry error">
                <td> {{messages.info}}</td>
            </div>
            <div class="row mb-3 mt-3  ">
                <div class="col fs-2">Welcome</div>
            </div>

            <div class="row mb-3">
                <div class="col-12 fs-3">Here is your staff's availability schedule</div>
            </div>

            <div class="row mb-3 text-danger fs-5">
                {{#if noOver}}
                <td>Days that are overbooked: There are currently no days that match</td>
                {{else}}
                <td class="danger">Days that are overbooked:</td>
                {{#each over}}
                <td class=" col-12">{{this}}</td>
                {{/each}}
                {{/if}}
            </div>

            <div class="row mb-3 text-success fs-5">
                {{#if noPerfect}}
                <td>Days that are booked exactly 3 times: There are currently no days that match</td>
                {{else}}
                <td >Days that are booked exactly 3 times:</td>
                {{#each perfect}}
                <td class="col-12 ">{{this}}</td>
                {{/each}}
                {{/if}}
            </div>

            <div class="row mb-3 warning fs-5">
                {{#if noUnder}}
                <td>Days that are under booked: There are currently no days that match</td>
                {{else}}
                <td class="">Days that are underbooked:</td>
                {{#each under}}
                <td class="col-12 ">{{this}}</td>
                {{/each}}

                {{/if}}
            </div>


            <div class="row mb-3">
                <a href="/"><button class="btn btn-primary" name="logout" type="submit" value="submit">
                        Log out
                    </button></a>
            </div>




        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

</body>

</html>